<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>edugames.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0B13EC6418AEF4FB00EE912D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B13EC8818AEF4FB00EE912D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B3AC1BA18AEF54F00346870</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B3AC1DE18AEF54F00346870</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
