<div class="row">
<h2>Account</h2>


<!-- <form>
    <fieldset>
        <legend>Profile</legend>

        <label>
            <span>Name:</span>
            <input type="text" name="name" ng-model="user.name"/>
        </label>

        <label>
            <span>Email:</span>
            <input type="text" name="name" ng-model="user.email"/>
        </label>
    </fieldset>

    <fieldset>
        <legend>Change Password</legend>

        <label>
            <span>Old Password:</span>
            <input type="password" ng-keypress="reset()" ng-model="oldpass"/>
        </label>

        <label>
            <span>New Password:</span>
            <input type="password" ng-keypress="reset()" ng-model="newpass"/>
        </label>

        <label>
            <span>Confirm Password:</span>
            <input type="password" ng-keypress="reset()" ng-model="confirm"/>
        </label>

        <button ng-click="updatePassword()">update password</button>

        <p class="error" ng-show="err">{{err}}</p>
        <p class="good" ng-show="msg">{{msg}}</p>
    </fieldset>
</form>
 -->
<!-- <button ng-click="logout()">Log Out</button>
</div>
 -->


<div class="main">
                <form class="cbp-mc-form">
                    <div class="cbp-mc-column">
                        <label for="first_name">Name</label>
                        <input type="text" name="name" ng-model="user.name">
                        <label for="email">Email Address</label>
                        <input type="text" name="name" ng-model="user.email">
                        <label for="country">Country</label>
                        <select id="country" name="country">
                            <option>Country</option>
                            <option>France</option>
                            <option>Italy</option>
                            <option>Portugal</option>
                        </select>
                        <label for="bio">Biography</label>
                        <textarea id="bio" name="bio"></textarea>
                    </div>
                    <div class="cbp-mc-column">
                        <label for="phone">Phone Number</label>
                        <input type="text" id="phone" name="phone" placeholder="+351 999 999">
                        <label for="affiliations">Affiliations</label>
                        <textarea id="affiliations" name="affiliations"></textarea>
                        <label>Occupation</label>
                        <select id="occupation" name="occupation">
                            <option>Choose an occupation</option>
                            <option>Web Designer</option>
                            <option>Web Developer</option>
                            <option>Hybrid</option>
                        </select>
                        <label for="cat_name">Cat's name</label>
                        <input type="text" id="cat_name" name="cat_name" placeholder="Kitty">
                        <label for="gagdet">Favorite Gadget</label>
                        <input type="text" id="gagdet" name="gagdet" placeholder="Annoy-a-tron">
                    </div>
                    <div class="cbp-mc-column">
                        <label>Type of Talent</label>
                        <select id="talent" name="talent">
                            <option>Choose a talent</option>
                            <option>Ninja silence</option>
                            <option>Sumo power</option>
                            <option>Samurai precision</option>
                        </select>
                        <label for="drink">Old Password:</label>
                        <input type="text" id="drink" name="drink" placeholder="Green Tea">
                        <label for="power">New Password:</label>
                        <input type="text" id="power" name="power" placeholder="Anti-gravity">
                        <label for="weapon">Confirm Password: </label>
                        <input type="weapon" id="weapon" name="weapon" placeholder="Lightsaber">
                        <label for="comments">Comments</label>
                        <textarea id="comments" name="comments"></textarea> 
                    </div>
                    <div class="cbp-mc-submit-wrap"><input class="cbp-mc-submit" type="submit" value="Send your data" /></div>
                </form>
            </div>
        </div>
