<input class="game-title" ng-model="game.title" type="text" placeholder="Game Title"/>
<br/>
<select ng-model="game.template">
	<option value="conqueror">Conqueror</option>
	<option value="boardgame">Board Game</option>
</select>

<ul>
	<li ng-repeat="(id, question) in game.questions | orderByPriority">
    	<input class="question" ng-model="question.text" type="text" placeholder="Add a question..." />
		<div>
			<input ng-model="question.correct" type="radio" value="a" />
			<input ng-model="question.a" type="text" placeholder="A:" />

			<input ng-model="question.correct" type="radio" value="b" />
			<input ng-model="question.b" type="text" placeholder="B:" />

			<input ng-model="question.correct" type="radio" value="c" />
			<input ng-model="question.c" type="text" placeholder="C:" />

			<input ng-model="question.correct" type="radio" value="d" />
			<input ng-model="question.d" type="text" placeholder="D:" />
		</div>
	</li>
	<button type="submit" ng-click="addQuestion()">Add Question</button>
</ul>

<a href="#/games">Back</a>
<a href="#/games" ng-click="deleteGame()">Delete</a>
