<!-- <h1>      Games</h1>

<ul id="games" ng-show="games">
    <button class="game-icon" type="link" ng-click="location.path('games/' + game.$id)" ng-repeat="game in games | orderByPriority">
        {{game.title}}
    </button>
    <button class="game-icon" type="link" ng-click="addGame()">Add a game...</button>
</ul>
<div class="row span5">
<div class="content span 2">
                <ul class="bmenu">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Illustrations</a></li>
                    <li><a href="#">Photography</a></li>
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">Personal Projects</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>

            </div>
<div class="span 7">
            <ul id="games" ng-show="games">
    <button class="game-icon" type="link" ng-click="location.path('games/' + game.$id)" ng-repeat="game in games | orderByPriority">
        {{game.title}}
    </button>
    <button class="game-icon" type="link" ng-click="addGame()">Add a game...</button>
</ul>
</div>
 -->

<!-- basically where the body is -->
<header>
  <div class="row">
    <div class="col-lg-12">
      <h1>
        Games
      </h1>
      <br>
    </div>
  </div>
  <div class="row" style="margin-left: 15%">
    <div class="col-lg-12">
      <ul id="games" ng-show="games">
        <button class="game-icon" type="link" ng-click="location.path('games/' + game.$id)" ng-repeat="game in games | orderByPriority" style:"line-height:200px">
          <div class="title">{{game.title}}</div>
        </button>
        <button class="create-icon" type="link" ng-click="addGame()">
        </button>
      </ul>
    </div>
  </div>
</header>
